*{
    margin: 0;
    padding: 0;
    font-family: san-serif;
    
}

#app{
    display: flex;
    font-size: 16px;
    background: #565656;
    width: 100vw;
    height: 100vh;
}

#left-view{
    flex-grow: 0;
    background: #fafafa;
    height: 100vh;
    flex-basis: 50vw;
    box-shadow: rgba(255, 0, 0, 0.55) 5px 2px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    order: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundCircle{
    margin: auto;
    background: #b8b8b8;
    box-shadow: 0px 3px 45px 5px rgba(255, 0, 0, 0.575);
    border-radius: 100%;
    height: 360px;
    width: 360px;
    display: flex;
}

.circle__content{
    margin:auto;
    width: 340px;
    height: 340px;
    border-radius: 100%;
    background: #FF7777;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.363);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.circle__timer{
    margin: 25px auto 0px;
    text-align: center;
    font-size: 75px;
    color: #ffffff;
}

.place{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place__button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.background__button{
    background:#ee3333;
    border-radius: 100%;
    padding: 15px;
    margin: 5px 10px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.288);
}

.background__button:hover{
    background: #dd1111;
    cursor: pointer;
}

.fas{
    font-size: 35px;
    color: white;
}

/*  Style of Checks Pomodoros  */

.pomodoros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pomodoros__check{
    margin: 30px 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoros__check--on{
    background: #FF7777;
    border-radius: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.40);width: 18px;
    height: 18px;
}

.pomodoros__check--off{
    background: #b8b8b8;
    border-radius: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.40);
    width: 18px;
    height: 18px;
}
/*  Style of Right Side  */

#right-view{
    order: 100;
    flex-basis:50vw;
    height: 100vh;
    flex-grow: 1;
    background: #565656;
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: flex-end;
    margin: 0px 10px;
}

#top__button{
    margin: 10px 0 0;
    border: none;
    width: 210px;
    height: 43px;
    background: #FF7777;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    transition: box-shadow 0.20s ease-in-out;
}

#top__button:hover{
    cursor: pointer;
    box-shadow: 0px 1px 15px 5px rgba(255, 50, 50, 0.85);
}

#top__button:active{
    background: #cc5555;
}

.toDo{
    margin: 0;
    overflow-y: hidden;
}

.toDo__bar{
    max-width: 75%;
    padding: 0px 15px;
    height: 45px;
    margin: 30px auto 0;
    z-index: 100;
    background: #FFBBBB;
    border: 3.5px solid #CC2222;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.75);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDo__bar h2{
    font-size: 25px;
    color: #CC2222;
    font-weight: bold;
    flex-grow: 8;
}

.toDo__bar button{
    flex-grow: 0;
    background: none;
    border: none;
    color: #cc2222;
}

.toDo__bar button h2{
    font-size: 40px;
    font-weight: bold;
}

.toDo__bar button h2:hover{
    cursor: pointer;
}

.toDo__bar button h2:active{
    color: #ff6666;
}

.task{
    height: 100%;
    margin: 0;
    z-index: 50;
}

.over{
    height: 90%;
    overflow-y: scroll;
}
.over::-webkit-scrollbar {
    display: none;
}

.task__card{
    background: #f8f8f8;
    border: 1px solid #000000;
    box-shadow: 0px 5px 20px 2px  rgba(0, 0, 0, 0.35);
    max-width: 75%;
    margin: 0px auto 25px;
    padding: 12px;
    border-radius: 5px;
    display: flex;
}

.task__card__div{
    flex-grow: 3;
    justify-content: flex-start;
    align-items: center;
}

.task__card--title{
    display: flex;
    margin: 0 10px;
    font-size: 12px;
}


.task__card--title input:focus{
    outline: none;
    background: linear-gradient(#f8f8f8, #cfcfcf);
}

.task__card--description{
    display: flex;
    margin: 15px 10px 0;
    font-size: 13px;
}

.task__inputs{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin: 0 20px;
    resize: none;
    border: none;
    background: #f8f8f8;
    border-bottom: 3.1px solid rgb(14, 221, 76);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task__card--description textarea{
    text-align: left;
    font-size: 17px;
    height: 90px;
}

.task__card--description textarea:focus{
    outline: none;
    background: linear-gradient(#f8f8f8, #ddd);
}

.task__card__div--icon{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.task__card__icon{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#edit{
    color: black;
    font-size: 15px;
    margin: auto;
}

#edit:hover{
    cursor: pointer;
}

#delete{
    color: #F00;
    font-size: 15px;
    margin: auto;
}

#delete:hover{
    cursor: pointer;
}

#task__check{
    margin: auto;
    background-color: green;
    /*    We have to find the way to put a green checkbox when its finished  */
}
#task__check:hover{
    cursor: pointer;
}

/* Style of TemplateToDoList.js */

.box{
    height: 90%;
    text-align:center;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.box__info{
    margin:15px 10px;
    width:75%;
    background: #FFBBBB;
    border: 3px solid #CC2222;
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 5px;
}

.box__info--title{
    margin:5px 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
}

.title{
    flex-grow:2;
    margin: auto;
}

.title h2{
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #CC2222;
}

.icon{
    flex-grow:5;
    margin:auto;
    display:flex;
    justify-content:center;
}

.box__info--text{
    font-size:18px;
    font-weight:bold;
    margin: 15px;
}

.box__info--text p{
    text-align:left;
}

.steps__title{
    color: #FFF;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.box__steps{
    margin: 15px auto 0;
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.step{
    width: 238px;
    height: 80px;
    margin: 10px auto;
    background: #FFBBBB;
    border: 3px solid #CC2222;
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-flow: nowrap row;
    justify-content:center;
    align-items:center;
}

.step__number{
    color:#ffffff;
    font-size:35px;
    margin:10px 0px;
    width:40%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.step__number--circle{
    height:70%;
    width:70%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    background: rgba(102, 34, 34, 0.75);
}

.step__text{
    text-align:center;
    font-weight:bold;
    font-size:16px;
    width:70%;
    margin: auto 10px auto 0;
}